.App {
  text-align: center;
  height: 100vh;
}
.header {
  margin-top: calc(50vh - 200px);
  font-size: 1rem;
}
.header.selected {
  animation-name: headerselect;
  animation-duration: 1s;
  font-size: 0.5rem;
  margin-top: 0;
}
.nighmode_button {
  border-width: 0px;
  background-color: transparent;
}
.fas.fa-moon {
  margin-left: 5px;
}
.nightmode-container {
  text-align: right;
  font-size: 1em;
}
@keyframes headerselect {
  0% {
    margin-top: calc(50vh - 200px);
    font-size: 1rem;
  }
  100% {
    margin-top: 0;
    font-size: 0.5rem;
  }
}
.title {
  font-size: 5em;
  font-family: lobster;
}
.subtitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.input {
  border: solid 2px;
  border-radius: 30px;
  height: auto;
  width: 80%;
  text-align: center;
  margin-top: 10px;
  font-size: 2.5em;
  padding: 0.1em;
}
.input:hover {
  border-width: 4px;
  margin-top: 8px;
}
